<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Color</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let phone of phoneList" id="{{phone.id}}">
            <td *ngIf="phone.data !== null && hasProp(phone.data, 'price') && hasProp(phone.data, 'color')">{{phone.id}}</td>
            <td *ngIf="phone.data !== null && hasProp(phone.data, 'price') && hasProp(phone.data, 'color')">{{phone.name}}</td>
            <td *ngIf="phone.data !== null && hasProp(phone.data, 'price') && hasProp(phone.data, 'color')">{{phone.data.color}}</td>
            <td *ngIf="phone.data !== null && hasProp(phone.data, 'price') && hasProp(phone.data, 'color')">{{phone.data.price}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td><input [(ngModel)]="name" placeholder="Name"></td>
            <td><input [(ngModel)]="price" placeholder="Color"></td>
            <td><input [(ngModel)]="color" placeholder="Price"></td>
            <td><button (click)="save()">ADD</button></td>
        </tr>
    </tfoot>
</table>

<ng-template #see let-modal>
    <div style="background-color: white; padding: 20px; border-radius: 10px; width: 60%; margin: auto;">
      <div style="display: flex; justify-content: space-between; padding: 10px;">
        <h5>View Device</h5>
        <button (click)="modal.dismiss()" style="background: none; border: none; cursor: pointer;">
          <span>&times;</span>
        </button>
      </div>
      <div style="display: flex; flex-direction: column; gap: 15px; padding: 10px;">
        <label style="margin-top: 10px;">ID:</label>
        <input [(ngModel)]="id2" readonly>
        <label style="margin-top: 10px;">NAME:</label>
        <input [(ngModel)]="name2">
        <label style="margin-top: 10px;">PRICE:</label>
        <input [(ngModel)]="price2">
        <label style="margin-top: 10px;">COLOR:</label>
        <input [(ngModel)]="color2">
      </div>
      <div style="display: flex; justify-content: space-between; padding: 10px;">
        <button (click)="modal.close()" style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; cursor: pointer; border-radius: 5px;">UPDATE</button>
      </div>
    </div>
  </ng-template>
  